:root {
  --white: #ffffff;
  --grey: #f8f8f8;
  --dark_grey: #999999;
  --blue_green: #109e9c;
  --dark_green: #0e9491;
}

.page{
  background-color: var(--white);
  min-height: 78vh;
  padding: 0 1rem;
}

.cell{
  text-align: center;
}


